@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 191 41% 17%;
    --foreground: 0 0% 98%;
    --card: 191 41% 20%;
    --card-foreground: 0 0% 98%;
    --popover: 191 41% 17%;
    --popover-foreground: 0 0% 98%;
    --primary: 181 100% 74.3%;
    --primary-foreground: 191 41% 10%;
    --secondary: 191 30% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 191 30% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 128 100% 54%;
    --accent-foreground: 128 100% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 191 35% 25%;
    --input: 191 35% 25%;
    --ring: 181 100% 74.3%;
    --radius: 0.5rem;
    --chart-1: 181 100% 74.3%;
    --chart-2: 128 100% 54%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 191 41% 14%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 181 100% 74.3%;
    --sidebar-primary-foreground: 191 41% 10%;
    --sidebar-accent: 191 41% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 191 35% 25%;
    --sidebar-ring: 181 100% 74.3%;
  }
  .dark {
    --background: 191 41% 17%;
    --foreground: 0 0% 98%;
    --card: 191 41% 20%;
    --card-foreground: 0 0% 98%;
    --popover: 191 41% 17%;
    --popover-foreground: 0 0% 98%;
    --primary: 181 100% 74.3%;
    --primary-foreground: 191 41% 10%;
    --secondary: 191 30% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 191 30% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 128 100% 54%;
    --accent-foreground: 128 100% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 191 35% 25%;
    --input: 191 35% 25%;
    --ring: 181 100% 74.3%;
    --chart-1: 181 100% 74.3%;
    --chart-2: 128 100% 54%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 191 41% 14%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 181 100% 74.3%;
    --sidebar-primary-foreground: 191 41% 10%;
    --sidebar-accent: 191 41% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 191 35% 25%;
    --sidebar-ring: 181 100% 74.3%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
